/*Todo el CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*HEADER*/
header{
    width: 100%;
    background-color: rgb(29,29,29);
    padding: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
}
img{
    width: 100%;
}
.logo-header{
    width: 110px;
    height: 74px;
    margin-right: 10px;
}
.titulo-header h1{
    font-size: 70px;
}
/*NAVEGADOR*/
nav{
    background-color: rgb(49,49,49);
    width: 100%;
    padding: 5px;
    text-align: right;
}
nav button{
    background-color: rgb(49,49,49);
    border: 2px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: background-color 1s;
}
nav button:hover{
    background-color: teal;
}
/*Menu Desplegable*/
.menu-desplegable{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: teal;
    padding: 10px;
    width: 200px;
    height: 100%;
}
.menu-desplegable button{
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}
.menu-desplegable a{
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    border-bottom: 2px whitesmoke solid;
    transition: background-color 1s;
}
.menu-desplegable a:hover{
    background-color: whitesmoke;
    color: teal;
}