/*Todo el CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*HEADER*/
header{
    width: 100%;
    background-color: rgb(29,29,29);
    padding: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
}
img{
    width: 100%;
}
.logo-header{
    width: 110px;
    height: 74px;
    margin-right: 10px;
}
.titulo-header h1{
    font-size: 70px;
}
/*NAVEGADOR*/
nav{
    background-color: rgb(49,49,49);
    width: 100%;
    padding: 5px;
    text-align: center;
}
nav button{
    background-color: rgb(49,49,49);
    border: 2px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    transition: background-color 1s;
}
nav button:hover{
    background-color: teal;
}
nav #closeMenu:hover{
    background-color: rgb(161, 0, 0);
}
/*Menu Desplegable*/
.menu-desplegable{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: teal;
    padding: 10px;
    width: 0%;
    height: 100%;
    text-align: left;
    z-index: 66;
}
.menu-desplegable button{
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}
.menu-desplegable a{
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    border-bottom: 2px whitesmoke solid;
    transition: background-color 1s;
}
.menu-desplegable a:hover{
    background-color: whitesmoke;
    color: teal;
}
/*MAIN*/
/*MAIN TITLE*/
.main-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: whitesmoke;
}
.main-title h2{
    font-size: 36px;
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: teal;
}
.main-title h3{
    font-size: 28px;
    padding: 10px;
    background-color: whitesmoke;
    width: 100%;
    color: rgb(29,29,29);
    text-align: center;
}
/*SLIDER*/
.slides{
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}
.slides img{
    width: 100%;
}
/*Slide Pagination*/
.slidesjs-pagination{
    background-color: rgba(9, 9, 9, 0.753);
    list-style: none;
    overflow: hidden;
}
.slidesjs-pagination li{
    display: inline-flex;
}
.slidesjs-pagination li a{
    padding: 13px 20px;
    color: whitesmoke;
    text-decoration: none;
    transition: background-color 1s;
}
.slidesjs-pagination li a:hover{
    background-color: whitesmoke;
    color: rgba(9, 9, 9, 0.753);
}
.slides .active{
    background-color: rgba(0, 128, 128, 0.514);
}
/*Slide Navigation*/
.slidesjs-navigation{
    background-color: rgba(9, 9, 9, 0.753);
    text-decoration: none;
    color: whitesmoke;
    display: inline-flex;
    float: right;
    padding: 10px 20px;
    transition: background-color 1s;
}
.slidesjs-navigation:hover{
    background-color: whitesmoke;
    color: rgba(9, 9, 9, 0.753);
}
/*Footer*/
footer{
    margin-top: 200px;
    width: 100%;
    background-color: rgb(49,49,49);
    text-align: center;
    padding: 50px;
    color: whitesmoke;
}
footer p{
    font-size: 26px;
    width: 100%;
    background-color: teal;
    padding: 10px;
    border: 2px solid whitesmoke;
}
/*LISTA SPOTS guideSPots.html*/
#lista-spots{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
}
.div-spot{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    padding: 12px;
    border:solid 2px whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px whitesmoke;
    margin: 10px;
}
.div-spot:hover{
    background-color: rgba(2, 255, 255, 0.452);
    cursor: pointer;
}
.div-spot:hover img{
    opacity: 70%;
}

/*DIV-SPOT-PLUS*/
.div-spot-plus{
    position: fixed;
    flex-direction: column;
    bottom: 5%;
    top: 5%;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 10px;
    background-color: rgb(49,49,49);
    border:solid 2px whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px whitesmoke;
    color: whitesmoke;
    z-index: 96;
    display: none;
}
.div-spot-plus div img{
    width: 50%;
    padding: 5px;
}
.div-info{
    width: 100%;
    margin-top: 10px;
}
.div-info li{
    padding: 5px;
    list-style: none;
    border-top: 1px whitesmoke solid;
    font-size: 18px;
}
.div-spot-plus button{
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(49,49,49);
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-size: 20px;
    color: whitesmoke;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    transition: background-color 1s;

}
.div-spot-plus button:hover{
    background-color: rgb(161, 0, 0);
}

/*ACCESO*/
.form-acceso{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px whitesmoke;

}
.form-acceso *{
    padding: 5px;
}
.form-acceso a{
    color: teal;
    text-decoration: underline;
    cursor: pointer;
    transition: color 1s;
}
.form-acceso a:hover{
    color: whitesmoke;
}
.form-registro{
    margin-top: 20px;
    display: none;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px whitesmoke;
}
.form-registro *{
    padding: 5px;
}
/*Sessions*/
.main-sessions{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.sesiones{
    display: flex;
    flex-direction: row;
}



/*Media Querys*/
@media (max-width:600px){
    /*Media Header*/
    .titulo-header h1{
        font-size: 55px;
    }
    .logo-header{
        width: 90px;
        height: 54px;
    }
    /*Media slide*/
    .slidesjs-pagination {
        display: none;
    }
    /*Media Lista-Spots*/
    #lista-spots{
        flex-direction: column;
    }
    .div-spot{
        max-width: 100%;
    }
}
@media (max-width:400px){
    /*Media Header*/
    header{
        flex-direction: column;
        text-align: center;
    }
    .logo-header{
        width: 100%;
    }
    .logo-header img{
        width: 74px;
    }
}